[Desktop Entry]
Name=Wayfire (GLES2)
Exec=/home/neo/Scripts/wayfire/wayfire.sh --gles2
TryExec=wayfire
Icon=
Type=Application
X-DesktopNames=Wayfire;wlroots
